.DS_Store
.idea/
.vscode/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
export_translation/i18n/
export_translation/i18n_copy/
export_translation/GCRM翻译*/